:root {
    --bg-primary: #FFFFFF;
    --color: #000000;

    --actions-go: #519C66;
    --actions-stop: #CC5F5F;

    font-size: 16px;

    /* spacing scale */
    --gap-xxs: 0.25rem;
    /* 4px */
    --gap-xs: 0.5rem;
    /* 8px */
    --gap-s: 0.75rem;
    /* 12px */
    --gap-m: 1rem;
    /* 16px */
    --gap-l: 1.125rem;
    /* 18px */
    --gap-xl: 1.25rem;
    /* 20px */
    --gap-2xl: 1.75rem;
    /* 28px */
    --gap-3xl: 2rem;
    /* 32px */
    --gap-4xl: 2.5rem;
    /* 40px */
    --gap-5xl: 3rem;
    /* 48px */
}

.dark-mode {
    --bg-primary: #000000;
    --color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;

    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-primary);
    color: var(--color);
}

a {
    text-decoration: none;
    color: var(--text);
}

/* font sizes */
.font-xxs {
    font-size: 0.625rem;
    /* 10px */
}

.font-xs {
    font-size: 0.75rem;
    /* 12px */
}

.font-s {
    font-size: 0.875rem;
    /* 14px */
}

.font-m {
    font-size: 1rem;
    /* 16px */
    line-height: 1.4;
}

.font-l {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.4;
}

.font-xl {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.4;
}

.font-xxl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 1.3;
}

.font-xxxl {
    font-size: 1.75rem;
    /* 28px */
    line-height: 1.3;
}

/* flex directions */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* justify-content */
.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* align-items */
.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* align-self */
.self-start {
    align-self: start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: end;
}

/* gap utilities */
.gap-xxs {
    gap: var(--gap-xxs);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-s {
    gap: var(--gap-s);
}

.gap-m {
    gap: var(--gap-m);
}

.gap-l {
    gap: var(--gap-l);
}

.gap-xl {
    gap: var(--gap-xl);
}

.gap-2xl {
    gap: var(--gap-2xl);
}

.gap-3xl {
    gap: var(--gap-3xl);
}

.gap-4xl {
    gap: var(--gap-4xl);
}

.gap-5xl {
    gap: var(--gap-5xl);
}


/* tablet */
@media (max-width: 960px) {
    :root {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}